$toast-colors: () !default;
$toast-colors: map-merge(
    (
      "success": #47d78a,
      "info": #1c85d5,
      "warning": #febc22,
      "error": #f7471c,
      "default": #343a40
    ),
    $toast-colors
);
