.v-notices {
  .v-toast {
    opacity: 1;
    min-height: 4em;

    .v-toast-text {
      padding: 1.5em 1em;
    }

    .v-toast-icon {
      display: block;
      width: 27px;
      min-width: 27px;
      height: 27px;
      margin-left: 1em;
      background: url(./icons/info.svg) no-repeat;
    }

    &.v-toast-success .v-toast-icon {
      background: url(./icons/success.svg) no-repeat;
    }

    &.v-toast-error .v-toast-icon {
      background: url(./icons/error.svg) no-repeat;
    }

    &.v-toast-warning .v-toast-icon {
      background: url(./icons/warning.svg) no-repeat;
    }
  }
}
