.vt__container {
  .vt__item {
    opacity: 1;
    min-height: 4em;

    .vt__text {
      padding: 1.5em 1em;
    }

    .vt__icon {
      display: block;
      width: 27px;
      min-width: 27px;
      height: 27px;
      margin-left: 1em;
      background: url(./icons/info.svg) no-repeat;
    }

    &.vt__item--success .v-toast-icon {
      background: url(./icons/success.svg) no-repeat;
    }

    &.vt__item--error .v-toast-icon {
      background: url(./icons/error.svg) no-repeat;
    }

    &.vt__item--warning .v-toast-icon {
      background: url(./icons/warning.svg) no-repeat;
    }
  }
}
