.notices {
  .toast {
    opacity: 1;
    min-height: 4em;

    .toast-text {
      padding: 1.5em 1em;
    }

    .toast-icon {
      display: block;
      width: 27px;
      min-width: 27px;
      height: 27px;
      margin-left: 1em;
      background: url(./icons/info.svg) no-repeat;
    }

    &.toast-success .toast-icon {
      background: url(./icons/success.svg) no-repeat;
    }

    &.toast-error .toast-icon {
      background: url(./icons/error.svg) no-repeat;
    }

    &.toast-warning .toast-icon {
      background: url(./icons/warning.svg) no-repeat;
    }
  }
}
