.vt__container {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none;

  .vt__item {
    display: inline-flex;
    align-items: center;
    animation-duration: 150ms;
    margin: 0.5em 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: 0.25em;
    pointer-events: auto;
    opacity: 0.92;
    color: #fff;
    min-height: 3em;
    cursor: pointer;

    .vt__text {
      margin: 0;
      padding: 0.5em 1em;
      word-break: break-word;
    }

    .vt__icon {
      display: none;
    }
  }

  // Colors
  @each $color, $value in $toast-colors {
    .vt__item--#{$color} {
      background-color: $value;
    }
  }

  // Individual toast position
  .vt__item {
    &.vt__item--top, &vt__item--bottom {
      align-self: center;
    }

    &.vt__item--top-right, &.vt__item--bottom-right {
      align-self: flex-end;
    }

    &.vt__item--top-left, &.vt__item--bottom-left {
      align-self: flex-start;
    }
  }

  // Notice container positions
  &.vt__item--top {
    flex-direction: column;
  }

  &.vt__item--bottom {
    flex-direction: column-reverse;
  }

  &.vt__item--custom-parent {
    position: absolute;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    position: fixed !important;
  }
}
