.toast.theme-sugar {
  opacity: 1;

  .toast-text {
    margin: 0;
    padding: 1.5em 1em;
  }

  .toast-icon {
    margin-left: 1em;
  }

  @each $color, $value in $toast-colors-sugar {
    &.toast-#{$color} {
      background-color: $value;
    }
  }
}
